@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkcyan;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps; /*Todas as letras ficam maiúsculas, mas a primeira letras ainda ficam maiores que as outras*/ 
    font-family: var(--fonte2);
    font-size: 10vh;
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
color: white;
text-decoration: none;
font-weight: bolder;
}

header a, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em; /*espaçamento entre as linhas*/
    font-family: var(--fonte3);
    font-size: 4.5vh;
}

section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(29, 28, 28);
    color: white;
}
section.imagem > p{
    display: in;
    background-color: rgb(17, 16, 16);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}